* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.head {
  height: 100vh;
  width: 100%;
  background-image: url("./foto/home2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.flex {
  position: relative;
  padding: 1.75rem 2.875rem;
  overflow: hidden;
}

.logo {
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 1000;
  float: left;
}

.navigate{
  margin: 0;
  padding: 0;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigate li {
  right: auto;
  float: left;
  padding: 10px;
  display: inline block;
  text-align: center;
  font-weight: 550;
}

.navigate li a {
  display: block;
  padding: 3px 10px;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
}

.navigate li a:hover {
  color: black;
  background-color: white;
  border-radius: 10px;
  transition-delay: 75ms;
}

.search {
  float: right;
  padding: 4px 13px;
  background-color: white;
  border-radius: 20px;
}

.search img {
  float: left;
  height: 20px;
  width: 20px;
}

.search input {
  border: none;
  background: none;
  outline: none;
  float: right;
  padding: 0px 10px;
}

.cover {
  position: relative;
  margin-top: 188px;
  /* margin-left: 44px; */
  padding: 0 0 0 44px;
}

.thumbnail {
  text-align: center;
  display: block;
  justify-content: center;
  max-width: fit-content;
  padding: 26px 16px;
  background: #1e5218;
  border-radius: 28px;
  color: white;
}

.thumbnail h1 {
  font-size: 38.83px;
}

.thumbnail p {
  font-size: 24px;
}

.mid1 {
  margin: 120px 20px 120px 84px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  text-align: center;
}

.mid1 h1 {
  font-size: 38.83px;
}

.mid1 p {
  font-size: 24px;
}

.thumb{
  padding-left: 20px;
}

.mid1 img{
  box-shadow: 38px 38px rgb(255, 229, 76);
}

.feature{
  margin: auto;
  background-color: #1e5218;
  text-align: center;
  padding-top: 42px;
}

.feature-title{
  font-size: 44.5px;
  color: white;
  padding-left: 50px;
}

.feature-flex{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.feature-flex div{
  padding: 74px;
}

.feature-flex div img{
  float:inline-start;
}

.feature-des{
  padding-top: 42px;
  font-size: 27.51px;
  text-align: center;
  color: white;
}

.feature-desc{
  margin: 0 45px;
  position: relative;
  padding-top: 40px;
  font-size: 17px;
  color: white;
  text-align: center;
}

.thumb2{
  padding-right: 100px;
}

.mid2{
  margin: 120px 84px 120px 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  text-align: center;
}

.mid2 h1 {
  font-size: 38.83px;
}

.mid2 p {
  font-size: 24px;
  padding-bottom: 97px;
}

.mid2 img{
  box-shadow: -38px 38px rgb(255, 229, 76);
}

.submits{
  padding: 10px 30px;
  font-size: 24px;
  background-color: #ffe54c;
}

.submits:hover{
  opacity: 0.8;
  transition: 0.5s;
}

.foot{
  background-color: #1e5218;
  display: flex;
  justify-content: space-between;
}

.foot h1{
  color: white;
  font-size: 26px;
  margin: 80px 148px;
  transform: rotate(-90deg);
  font-weight: 1000;
}

.keterangan{
  color: white;
  margin: 75px 139px;
  display: flex;
}

.keterangan a{
  color: white;
}

.keterangan a:hover{
  opacity: 60%;
}

.keterangan div{
  font-size: 19px;
  font-weight: bolder;
}

.judul{
  margin-bottom: 10px;
}

.keterangan-kanan{
  padding-left: 74px;
}

.keterangan-kanan a{
  padding-top: 20px;
}

.keterangan ol li{
  font-weight: 400;
  text-align: left;
}

.keterangan ol li:hover{
  opacity: 60%;
}

.sosmed{
  margin: auto;
  display: flex;
  justify-content: space-between;
}