* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  height: max-content;
}

.flex {
  position: relative;
  padding: 1.75rem 2.875rem;
  overflow: hidden;
}

.logo {
  color: black;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 1000;
  float: left;
}

.navigate {
  margin: 0;
  padding: 0;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigate li {
  right: auto;
  float: left;
  padding: 10px;
  display: inline block;
  text-align: center;
  font-weight: 550;
}

.navigate li a {
  display: block;
  padding: 3px 10px;
  color: black;
  border-radius: 10px;
  transition: 0.5s;
}

.navigate li a:hover {
  color: white;
  background-color: #1e5218;
  border-radius: 10px;
  transition-delay: 75ms;
}

.search {
  float: right;
  padding: 4px 13px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
}

.search img {
  float: left;
  height: 20px;
  width: 20px;
}

.search input {
  border: none;
  background: none;
  outline: none;
  float: right;
  padding: 0px 10px;
}

.filter {
  display: flex;
  margin: 30px 0 80px 5%;
  font-size: 24px;
}

.filter p {
  margin-left: 30px;
}

.filter p:hover {
  color: white;
  padding: 3px 10px;
  cursor: pointer;
  background-color: #1e5218;
  border-radius: 10px;
  transition: 0.5s;
}

.product {
  position: relative;
  margin: 74px 75px;
  font-size: 24px;
}

.image {
  position: relative;
  width: 403px;
  height: 262px;
  margin-bottom: 10px;
}

.image_overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 2px inset #1e5218;
  border-radius: 10px;
}

.image_overlay:hover::before {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

.product ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.desc {
  margin-left: 3px;
  width: 100%;
  padding-top: 18px;
  padding-left: 15px;
  padding-bottom: 72px;
  color: white;
  background-color: #1e5218;
}

.desc p {
  margin-top: 10px;
}

.foot {
  background-color: #1e5218;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.foot h1 {
  color: white;
  font-size: 26px;
  margin: 80px 148px;
  transform: rotate(-90deg);
  font-weight: 1000;
}

.keterangan {
  color: white;
  margin: 75px 139px;
  display: flex;
}

.keterangan a {
  color: white;
}

.keterangan a:hover {
  opacity: 60%;
}

.keterangan div {
  font-size: 19px;
  font-weight: bolder;
}

.judul {
  margin-bottom: 10px;
}

.keterangan-kanan {
  padding-left: 74px;
}

.keterangan-kanan a {
  padding-top: 20px;
}

.keterangan ol li {
  font-weight: 400;
  text-align: left;
}

.keterangan ol li:hover {
  opacity: 60%;
}

.sosmed {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
